body {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
    
}

.cellaBtn {

    height: 50px;
    width: 50px;

    border-color: black;
    border-width: 1px;

    border-radius: 30%;

    


    background-color: white;

    text-align: center;
}

#inputArea {

    display: inline;

    margin-top: 3vh;

}

#wordToSend{

    border-width: 1px;
}

#wordToSend:focus{

    border-width: none;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.flip {
    animation: flip 500ms ease forwards;
}
  
@keyframes flip {
    0% {
      background: white;
      transform: scaleY(1);
    }
  
    50% {
      background: white;
      transform: scaleY(0);
    }
  
    100% {
      transform: scaleY(1);
      
    }
  }