body {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
    
}

.cellaBtn {

    height: 50px;
    width: 50px;

    border-color: black;
    border-width: 1px;

    border-radius: 30%;


    background-color: white;

    text-align: center;
}

#inputArea {

    display: flex;

    margin-top: 3vh;
}

#keyboard {
    display: none;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#showKeyboardTextArea{

    background-color: white;

    margin-top: 4vh;

    border-color: black;
    border-width: 1px;

    border-radius: 100%;

    box-shadow: 2px 3px;
}

.key {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 2px;
    font-size: 18px;
    transition: background-color 0.2s;
}

.key:hover {
    background-color: #e0e0e0;
}

.special {
    flex: 1;
    margin: 0 5px;
}

.flip {
    animation: flip 500ms ease forwards;
  }
  
  @keyframes flip {
    0% {
      transform: scaleY(1);
    }
  
    50% {
      background: white;
      transform: scaleY(0);
    }
  
    100% {
      transform: scaleY(1);
      background: green;
    }
  }